.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-field {
    width: 45rem;
}

.bg_color {
    background-color: #2d2d86;
}

.dropdown_position {
    position: absolute;
    left: 13.5%;
    top: 3.25rem;
    width: 44rem;
}