<!-- <div>
<div id="g_id_onload"
     data-client_id="535029787150-5j1gkkbe5q1t4qjkrpshi3mfh3j5ah7l.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-callback="handleCallBack"
     data-auto_prompt="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="signin_with"
     data-size="medium"
     data-logo_alignment="left">
</div>
</div> -->
<!-- <div class="row mt-2"> -->
<div class="flex justify-center">
  <div>
    <div class="mb-5">
      <div class="md:text-xl font-bold flex justify-center">
        Join Deals Of the day
      </div>
      <div class="flex justify-center text-sm md:text-base font-light">
        Find and share great deals
      </div>
    </div>
    <div class="flex justify-center">
      <a (click)="signInWithGoogle()">
        <div class="w-fit border-1 border-gray-300 rounded-md shadow-md">
          <div class="flex space-x-5 items-center md:px-2 md:py-1 px-1 py-0.5">
            <div>
              <img
                src="../../../assets/icons8-google-48.png"
                alt=""
                class="w-4 h-4 md:w-6 md:h-6"
              />
            </div>
            <div class="text-xs md:text-base">Continue with Google</div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<!-- Or continue with divider -->
<div class="mt-3 grid grid-cols-3 items-center justify-between">
  <div>
    <hr class="border-1 borger-gray-500" />
  </div>
  <div class="text-sm flex justify-center">Or Continue With</div>
  <div>
    <hr class="border-1 borger-gray-500" />
  </div>
</div>

<!-- </div> -->
